.jumbotron {
    margin: -17px -17px 17px -17px;
    background: url("../images/youtube-search-client-with-react.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.search-bar input {
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}

.search-bar input::placeholder {
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}

.video-item img {
    max-width: 64px;
}

.video-list-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.list-group-item {
    cursor: pointer;
    margin-top: -24px;
    margin-bottom: 24px;
}

.list-group-item:hover {
    background-color: #eee;
}
